@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Outfit:wght@400;700;800;900&display=swap');


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "Source Serif 4", ui-serif, Georgia;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply font-sans antialiased bg-white text-slate-900 transition-colors duration-500;
  }

  html.dark {
    @apply bg-black text-white;
  }
}

.sidebar-brand .brand-text {
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
}

.sidebar.sidebar-narrow-unfoldable:not(:hover) .sidebar-brand .brand-text {
  display: none;
}

